{% extends "layout.html" %}


{% block head %}
{{ super() }}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>  

<!-- Plagin DRAW -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>




<style>
    .is-required:after {
        content: '*';
        margin-left: 3px;
        color: red;
        font-weight: bold;
    }

    body {
        background: {{ datosConfig['coloresPrivados'][0] }};
    }

    #navColorHeader {
        background: {{ datosConfig['coloresPrivados'][1] }};
    }

    #navColorFooter {
        background: {{ datosConfig['coloresPrivados'][2] }};
    }

    #map {
        min-height: 400px;
        min-width: 200px;
    }

    #coordenadas {
        display: none;
    }
</style>

{% endblock %}


{% block content %}


        
    <div class="container espaciador-div-top">
        <form action="{{ url_for('recorridosEvacuacion_create') }}" method="POST" id="create-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="modal-title" style="font-weight: bold; margin-left: 3px;"><i style="margin-right: 10px;" class="fas fa-route"></i>Nuevo recorrido de evacuación</h4>
                </div>
    
                <div class="panel-body">
                    <div class="row form-group espaciador-div-input-top">
                        <div class="col-12 col-md-6">
                            <label for="nombre" class="is-required"><small>Nombre</small></label>
                            <input type="text" required class="form-control" id="nombre" name="nombre" placeholder="" value="{{ datos.nombre if datos }}">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="estado" class="is-required"><small>Estado</small></label>
                            <select required class="form-control" id="estado" name="estado" value="{{ datos.estado if datos }}">
                                <option value="1">Publicado</option>
                                <option value="0">Despublicado</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12 col-md-6">
                            {% if errores is defined and errores["error_nombre"] is defined %}
                            <div class="alert alert-danger" role="alert">
                                {{ errores["error_nombre"] }} 
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group espaciador-div-input-top">
                        <div class="col-12 col-md-12">
                            <label for="descripcion" class="is-required"><small>Descripcion</small></label>
                            <input required class="form-control" id="descripcion" name="descripcion" value="{{ datos.descripcion if datos }}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            {% if errores is defined and errores["error_descripcion"] is defined %}
                            <div class="alert alert-danger" role="alert">
                                {{ errores["error_descripcion"] }}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group espaciador-div-input-top">
                        <div class="col-12 col-md-7">
                            <label for="map" class="is-required"><small>Establecer recorrido</small></label>
                            <div class="col-12 col-md-12" id="map">

                            </div>
                        </div>
                    </div> 
                    
                    <div class="row form-group">
                        <div class="col-12 col-md-7">
                            {% if errores is defined and errores["error_coordenadas"] is defined %}
                            <div class="alert alert-danger" role="alert">
                                {{ errores["error_coordenadas"] }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <input type="text" name="coordenadas" id="coordenadas" value="{{ datos.coordenadas if datos }}">
    
                <div class="panel-footer text-right" style="margin-top: 20px;">
                    <a type="button" class="btn btn-default" href="{{ url_for('recorridosEvacuacion_list') }}" style="border: 1px solid #138496; margin-right: 10px;">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>   
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>

    <script>  
        $( document ).ready(function() {
            cargarMapa();
        });

        function editarMapa(map) {
            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            var polyLayers = [];

            cos = document.getElementById("coordenadas").getAttribute("value");

            let puntos = [];
            
            var coordenadasRecorrido = cos.split(",");

            for(i = 0; i < coordenadasRecorrido.length; i=i+2) {
                let punto = [];
                punto.push(coordenadasRecorrido[i]);
                punto.push(coordenadasRecorrido[i+1]);
                puntos.push(punto);
            }

            var polylines = L.polyline(puntos);
            polyLayers.push(polylines);
            
            // Add the layers to the drawnItems feature group 
            for (let layer of polyLayers) {
                drawnItems.addLayer(layer);
            }

            var drawControl = new L.Control.Draw({
                draw: false,
                edit: {
                    featureGroup: drawnItems,
                    poly: {
                        allowIntersection: false
                    }, 
                remove: false
                }
            });
            map.addControl(drawControl);

            map.on("draw:edited", function (e) {
                let layers = e.layers;
                layers.eachLayer(function (layer) {
                    // console.log(layer);

                    map.addLayer(layer);
                    const coordinates = layer.getLatLngs().flat().map(coordinate => {
                        return [ coordinate.lat,coordinate.lng ]
                    });

                    // let coords = JSON.stringify(coordinates);
                    document.getElementById("coordenadas").setAttribute("value", coordinates);
                });
            });
        }
    
        function cargarMapa() {
            //costantes
            const latitudInicial = -34.9187;
            const longitudInicial = -57.956;

            var map = L.map('map').setView([latitudInicial, longitudInicial], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

            let coordenadasRecorrido = document.getElementById("coordenadas").getAttribute("value");
                        
            if (coordenadasRecorrido == "") {
                // FeatureGroup is to store editable layers
                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);

                var drawControl = new L.Control.Draw({
                    draw: {
                        polygon: false,
                        circle: false,
                        marker: false,
                        rectangle: false
                    },
                    edit: {
                        featureGroup: drawnItems,
                        edit: true,
                        remove: true
                    },
                });
                map.addControl(drawControl);

                map.on(L.Draw.Event.CREATED, function (e) {
                    var type = e.layerType,
                        layer = e.layer;

                    if (type === 'polyline') {
                        // Do marker specific actions   
                        layer.editing.enable(layer);
                        drawControl.remove();

                        drawControl = new L.Control.Draw({
                            draw: false,
                            edit: {
                                featureGroup: drawnItems,
                                edit: true,
                                remove: true
                            },
                        });

                        map.addControl(drawControl);

                        map.on("draw:edited", function (e) {
                            let layers = e.layers;
                            layers.eachLayer(function (layer) {
                                // console.log(layer);

                                map.addLayer(layer);
                                const coordinates = layer.getLatLngs().flat().map(coordinate => {
                                    return [coordinate.lat, coordinate.lng]
                                });

                                // let coords = JSON.stringify(coordinates);
                                document.getElementById("coordenadas").setAttribute("value", coordinates);
                            });
                        });
                    }

                    drawnItems.addLayer(layer);
                    map.addLayer(drawnItems);

                    const coordinates = layer.getLatLngs().flat().map(coordinate => {
                        return [ coordinate.lat,coordinate.lng ]
                    });

                    // let coords = JSON.stringify(coordinates);
                    document.getElementById("coordenadas").setAttribute("value", coordinates);
                });

                map.on('draw:deleted', function (e) {
                    var container = L.DomUtil.get('map');

                    if (container != null) {
                        container._leaflet_id = null;
                    }

                    drawControl.remove();
                    drawControl = new L.Control.Draw({
                        draw: false,
                        edit: false
                    });
                    map.addControl(drawControl);

                    document.getElementById("coordenadas").setAttribute("value", "");

                    cargarMapa();
                });                
            }
            else {
                editarMapa(map);
            }
        }
    </script>

           

{% endblock %}