Flask==2.0.1
PyMySQL==1.0.2
Flask-Session==0.4
black==21.9b0
python-dotenv==0.19.0
SQLAlchemy==1.4.25
Flask-SQLAlchemy==2.5.1
Werkzeug==2.0
Flask-WTF==0.15.1
wtforms[email]
Flask-Cors==3.0.10
google-api-python-client
google-auth-httplib2
google-auth
Authlib==0.15.4
oauthlib==3.1.1
requests==2.26.0
Flask-Login==0.5.0
pyOpenSSL==19.0.0
