{% extends "layout.html" %}


{% block head %}
{{ super() }}

<style>
    .is-required:after {
        content: '*';
        margin-left: 3px;
        color: red;
        font-weight: bold;
    }
    #botonCheck:active {
        background: #5cb85c;
        color: white;
    }
    #botonCheck:hover {
        background: #5cb85c;
        color: white;
    }
    #botonCheck:active ::after {
        background: #5cb85c;
        color: white;
    }
    .btn-default.active {
        background-color: #5cb85c;
        color: white;
    }
    
    body {
        background: {{ datosConfig['coloresPrivados'][0] }};
    }
    #navColorHeader {
        background: {{ datosConfig['coloresPrivados'][1] }};
    }
    #navColorFooter {
        background: {{ datosConfig['coloresPrivados'][2] }};
    }
</style>

{% endblock %}


{% block content %}


    <div class="container espaciador-div-top">
      <form action="{{ url_for('denuncia_create') }}" method="POST">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="modal-title" style="font-weight: bold; margin-left: 3px;"><i class="fal fa-clipboard-list"
                style="font-size: 29px; margin-right: 10px;"></i>Nueva denuncia</h4>
          </div>
    
        <div class="panel-body">
    
          <label for="input-name" style="margin-top: 0px; margin-right: 100px">Información de la denuncia:</label>
    
            <div class="row form-group espaciador-div-input-top">
              <div class="col-12 col-md-4">
                    <label for="titulo" class="is-required"><small>Titulo</small></label>
                    <input type="text" required class="form-control" id="titulo" name="titulo" placeholder=""
                      value="{{ datos.titulo if datos }}">
               </div>

               <div class="col-12 col-md-4">
                <label for="categoria" class="is-required"><small>Categoria</small></label>
                <select name="id_categoria">
  
                    {% for categoria in categorias.items %}
  
                    <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
  
                    {% endfor %}

                </select>

              </div>

              <div class="col-12 col-md-4">
                <label for="descripcion" class="is-required"><small>Descripcion</small></label>
                <input required type="descripcion" class="form-control" id="descripcion" name="descripcion" placeholder=""
                  value="{{ datos.descripcion if datos }}">
              </div>

              <div class="row form-group">
                <div class="col-12 col-md-6">
                    {% if errores is defined and errores["error_titulo"] is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores["error_titulo"] }} 
                    </div>
                    {% endif %}
                </div>
            </div>

            </div>  
          <br>

          <label for="input-name" style="margin-top: 0px; margin-right: 100px">Coordenadas:</label>

          <div class="row form-group espaciador-div-input-top">
              
                <div class="col-12 col-md-4">
                    <label for="latitud" class="is-required"><small>Latitud</small></label>
                    <input required type="number" step="any" class="form-control" id="latitud" name="latitud" placeholder="" value="{{ datos.latitud if datos }}">
                </div>

                <div class="col-12 col-md-4">
                    <label for="longitud" class="is-required"><small>Longitud</small></label>
                    <input required type="number" step="any" class="form-control" id="longitud" name="longitud" placeholder="" value="{{ datos.longitud if datos }}">
                </div>         

            <div class="row form-group">
                <div class="col-12 col-md-12">
                    {% if errores is defined and errores["error_coordenada"] is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores["error_coordenada"] }}
                    </div>
                    {% endif %}
                </div>
            </div>


          </div>

          <br>

          

          <label for="input-name" style="margin-top: 0px; margin-right: 100px">Asignado a:</label>


          <div class="row form-group espaciador-div-input-top">

            
              <div class="col-12 col-md-4">

                <label for="user" class="is-required"><small>Usuarios</small></label>


                <select name="asignado_a">

                  <option value="">Sin usuario</option>

                  {% for user in users.items %}

                  <option value="{{ user.username }}">{{ user.username }}</option>

                  {% endfor %}

                </select>

              </div>
                
          </div>

          

          <br>
          <label for="input-name" style="margin-top: 0px; margin-right: 100px">Información del denunciante:</label>

          <div class="row form-group espaciador-div-input-top"></div>
              <div class="col-12 col-md-4">
                <label for="apellido_denunciante" class="is-required"><small>Apellido Denunciante</small></label>
                <input required type="apellido_denunciante" class="form-control" id="apellido_denunciante" name="apellido_denunciante" placeholder=""
                  value="{{ datos.apellido_denunciante if datos }}">
              </div>
              <div class="col-12 col-md-4">
                <label for="nombre_denunciante" class="is-required"><small>Nombre Denunciante</small></label>
                <input required type="nombre_denunciante" class="form-control" id="nombre_denunciante" name="nombre_denunciante" placeholder=""
                  value="{{ datos.nombre_denunciante if datos }}">
              </div>
              <div class="col-12 col-md-4">
                <label for="tel_cel_denunciante" class="is-required"><small>Telefono/Celular Denunciante</small></label>
                <input required type="tel_cel_denunciante" class="form-control" id="tel_cel_denunciante" name="tel_cel_denunciante" placeholder=""
                  value="{{ datos.tel_cel_denunciante if datos }}">
              </div>
              <div class="col-12 col-md-4">
                <label for="email_denunciante" class="is-required"><small>Email De Denunciante</small></label>
                <input required type="email_denunciante" class="form-control" id="email_denunciante" name="email_denunciante" placeholder="" 
                  value="{{ datos.email_denunciante if datos }}">
              </div>

              <div class="row form-group">
               
                <div class="col-12 col-md-6">
                    {% if errores is defined and errores["error_email"] is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ errores["error_email"] }}
                    </div>
                    {% endif %}
                </div>
              </div>
              
          </div>
      
           
          <div class="panel-footer text-right">
            <a type="button" class="btn btn-default" href="{{ url_for('denuncia_list') }}"
              style="border: 1px solid #138496; margin-right: 10px;">Cancelar</a>
            <button type="reset" class="btn btn-warning" style="margin-right: 10px;">Limpiar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
      </form>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>   
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>

    

{% endblock %}
      

