{% extends "layout.html" %}
{% block head %}

{{ super() }}
{% endblock %}


{% block content %}


<style>
    #tabla {
        background: white;
        width: 100%;
        padding: 20px 20px;
        border-radius: 5px;
        z-index: -1;
    }
    .elemento {
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
    }
    .titulo {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-group {
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .dropdown-scrollbar {
        height: 100px;
        overflow: scroll;
    }

    body {
        background: {{ datosConfig['coloresPrivados'][0] }};
    }

    #navColorHeader {
        background: {{ datosConfig['coloresPrivados'][1] }};
    }

    #navColorFooter {
        background: {{ datosConfig['coloresPrivados'][2] }};
    }
    
</style>


    <div class="container">
        <div class="row form-group">
            <div class="col-12 col-md-12">
                <div class="jumbotron" style="background: none; padding: 0px; margin-top: 95px;">
                    <h2 style="color: white;">Zonas inundables</h2>
                </div>
            </div>
        </div>
    
    
        <div class="row form-group">
            <div class="col-12 col-md-12">
                <a type="button" href="{{ url_for('zona_new') }}" class="btn btn-success btn-lg"
                    style="margin-bottom: 40px; border: 1px solid #ccc;"><i style="margin-right: 10px;"
                        class="fas fa-user-plus"></i>Agregar</a>
            </div>
        </div>

    </div>
    
    
    <div class="container" id="tabla">
        <div class="row form-group" style="margin-bottom: 40px; margin-top: 20px;">
            <form action="{{ url_for('zona_byNombre') }}">
                <div class="col-12 col-md-4">
                    <input type="text" id="byNombre" name="byNombre" class="form-control"
                        placeholder="Filtrar por nombre de zona...">
                </div>
    
                <div class="col-12 col-md-1">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
    
            <div class="col-12 col-md-2">
    
            </div>
    
            <form action="{{ url_for('zona_estado') }}" method="POST">
                <div class="col-12 col-md-4">
                    <select class="form-control custom-select custom-select-lg mb-3" id="select" name="select">
                        <option selected>Todos</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
    
                <div class="col-12 col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    
    
        <div class="col-12 col-md-12">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Nombre de zona</strong>
                            </a>
                        </th>
                        <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Codigo de zona</strong>
                            </a>
                        </th>
                        <!-- <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Apellido</strong>
                            </a>
                        </th> -->
                        <!-- <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Email</strong>
                            </a>
                        </th> -->
                        <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Estado</strong>
                            </a>
                        </th>
                        <th>
                            <a href="" class="btn btn-outline-primary disabled titulo" role="button">
                                <strong>Coordenadas</strong>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in diccio: %}
                    <tr>
                        <td>
                            <a href="" class="btn btn-outline-primary disabled elemento" role="button">
                                {{ diccio[key][0] }}
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-outline-primary disabled elemento" role="button">
                                {{ diccio[key][1] }}
                            </a>
                        </td>

                        <td>
                            <a href="" class="btn btn-outline-primary disabled elemento" role="button">
                                {{ diccio[key][2] }}
                            </a>
                        </td>

                        <td>
                            <a href="" class="btn btn-outline-primary disabled elemento" role="button">
                                {{ (diccio[key][4]).split(' ') }}
                            </a>
                        </td>


                    </tr> 
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    
    

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    
    
    <!-- <script>
        function editar(id) {
            $("#id").val(id);
            $("#envioModificar").submit();
        }

        function borrar(id) {
            $("#idBorrar").val(id);
            $('#cuerpoModal').empty();
            $('#cuerpoModal').append("¿Desea eliminar el usuario seleccionado?");
        }
    </script>
    
    <script>
        $(document).ready(function () {
            $("#envioModificar").hide();
        });
    </script>
      -->

{% endblock %}
