{% extends "layout.html" %}


{% block head %}
{{ super() }}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>  

<!-- Plagin DRAW -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>




<style>
    .is-required:after {
        content: '*';
        margin-left: 3px;
        color: red;
        font-weight: bold;
    }

    body {
        background: {{ datosConfig['coloresPrivados'][0] }};
    }

    #navColorHeader {
        background: {{ datosConfig['coloresPrivados'][1] }};
    }

    #navColorFooter {
        background: {{ datosConfig['coloresPrivados'][2] }};
    }

    #map {
        min-height: 400px;
        min-width: 200px;
    }

    #coordenadas {
        display: none;
    }
</style>

{% endblock %}


{% block content %}
        
    <div class="container espaciador-div-top">
        <form action="" method="POST" id="create-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="modal-title" style="font-weight: bold; margin-left: 3px;"><i style="margin-right: 10px;" class="glyphicon glyphicon-search"></i>{{ title }}</h4>
                </div>
    
                <div class="panel-body">
                    <div class="row form-group" style="margin-top: 40px;">
                        <div class="col-12 col-md-6">
                            <label for="nombre"><small>Nombre</small></label>
                            <input type="text" disabled class="form-control" id="nombre" name="nombre" placeholder="" value="{{ diccio['nombre'] }}">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="codigo"><small>Codigo</small></label>
                            <input disabled class="form-control" id="codigo" name="codigo" value="{{ diccio['codigo'] }}">
                        </div>
                    </div>

                    <div class="row form-group" style="margin-top: 40px;">
                        <div class="col-12 col-md-6">
                            <label for="descripcion"><small>Descripcion</small></label>
                            <textarea disabled class="form-control" name="descripcion" id="descripcion" cols="30" rows="5">{{ diccio['descripcion'] }}</textarea>

                            <!-- <input disabled class="form-control" id="descripcion" name="descripcion" value="{{ diccio['descripcion'] }}"> -->
                        </div>
                    </div>

                    <div class="row form-group" style="margin-top: 40px;">
                        <div class="col-12 col-md-6">
                            <label for="estado"><small>Publicado</small></label>
                            {% if diccio['estado'] == 1 %}
                                <input disabled class="form-control" id="estado" name="estado" value="SI">
                            {% else: %}
                                <input disabled class="form-control" id="estado" name="estado" value="NO">
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="cantidad"><small>Cantidad de Puntos</small></label>
                            <input disabled class="form-control" id="cantidad" name="cantidad" value="{{ diccio['cantidad_puntos'] }}">
                        </div>
                    </div>

                    <div class="row form-group" style="margin-top: 60px;">
                        <div class="col-12 col-md-7">
                            <label for="map" class="is-required"><small>Establecer recorrido</small></label>
                            <div class="col-12 col-md-12" id="map">

                            </div>
                        </div>
                    </div>

                    <div class="row form-group" style="margin-top: 40px;">
                        <div class="col-12 col-md-6">
                            <label for="coordenadas"><small>Coordenadas (Lat / Lng)</small></label><br>
                            <textarea name="" id="" cols="40" rows="5" disabled>{{ diccio['coordenadas'] }}</textarea>
                        </div>

                    </div>
                </div>

                <input type="hidden" id="idModificar" name="idModificar" value="{{ diccio['id'] }}">
                <input type="text" name="coordenadas" id="coordenadas" value="{{ diccio['coordenadas'] }}">
    
                <div class="panel-footer text-right" style="margin-top: 20px;">
                    <a type="button" class="btn btn-default" href="{{ url_for('zona_index') }}" style="border: 1px solid #138496; margin-right: 10px;">Volver</a>

                    {% if user.tiene_permiso("zona_inundable_update") %}
                        <a type="button" class="btn btn-warning" href="{{ url_for('zona_modificar',  id=diccio['id']) }}" style="border: 1px solid #138496; margin-right: 10px;">Editar</a>
                    {% endif %}    
                </div>
            </div>
        </form>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>   
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>

    <script>  
        $( document ).ready(function() {
            editarMapa();
        });

        function editarMapa(map) {

            var cos = document.getElementById("coordenadas").getAttribute("value");

            var coordenadasRecorrido = cos.split(" ");

            //costantes
            const latitudInicial = coordenadasRecorrido[0];
            const longitudInicial = coordenadasRecorrido[1];

            // if (coordenadasRecorrido.length > 1) {
            //     latitudInicial = coordenadasRecorrido[0];
            //     longitudInicial = coordenadasRecorrido[1];
            // }

            var map = L.map('map').setView([latitudInicial, longitudInicial], 15);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            var polyLayers = [];

            let puntos = [];

            for(i = 0; i < coordenadasRecorrido.length; i=i+2) {
                let punto = [];
                punto.push(coordenadasRecorrido[i]);
                punto.push(coordenadasRecorrido[i+1]);
                puntos.push(punto);
            }

            var polylines = L.polygon(puntos);
            polyLayers.push(polylines);
            
            // Add the layers to the drawnItems feature group 
            for (let layer of polyLayers) {
                drawnItems.addLayer(layer);
            }

            var drawControl = new L.Control.Draw({
                draw: false,
                edit: false, 
                remove: false
            });
            map.addControl(drawControl);

            map.on("draw:edited", function (e) {
                let layers = e.layers;
                layers.eachLayer(function (layer) {
                    // console.log(layer);

                    map.addLayer(layer);
                    const coordinates = layer.getLatLngs().flat().map(coordinate => {
                        return [ coordinate.lat,coordinate.lng ]
                    });

                    // let coords = JSON.stringify(coordinates);
                    document.getElementById("coordenadas").setAttribute("value", coordinates);
                });
            });
        }

    </script>

        

{% endblock %}
